$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

.flex {
  display: flex;
  flex-direction: row;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--col {
    flex-shrink: 0;
    width: $col-1;

    &-auto {
      width: auto;
    }
    &-2 {
      flex-shrink: 0;
      width: $col-2;
    }
    &-3 {
      flex-shrink: 0;
      width: $col-3;
    }
    &-4 {
      flex-shrink: 0;
      width: $col-4;
    }
    &-5 {
      flex-shrink: 0;
      width: $col-5;
    }
    &-6 {
      flex-shrink: 0;
      width: $col-6;
    }
    &-7 {
      flex-shrink: 0;
      width: $col-7;
    }
    &-8 {
      flex-shrink: 0;
      width: $col-8;
    }
    &-9 {
      flex-shrink: 0;
      width: $col-9;
    }
    &-10 {
      flex-shrink: 0;
      width: $col-10;
    }
    &-11 {
      flex-shrink: 0;
      width: $col-11;
    }
    &-12 {
      flex-shrink: 0;
      width: $col-12;
    }
  }

  &--align {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  &--justify {
    justify-content: stretch;
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
    &-space-between {
      justify-content: space-between;
    }
  }

  &--gap {
    gap: 1rem;
    &-0 {
      gap: 0;
    }
    &-3xs {
      gap: 0.25rem;
    }
    &-2xs {
      gap: 1rem;
    }
    &-xs {
      gap: 2rem;
    }
    &-sm {
      gap: 3rem;
    }
    &-md {
      gap: 4rem;
    }
    &-lg {
      gap: 5rem;
    }
    &-xl {
      gap: 6rem;
    }
    &-2xl {
      gap: 8rem;
    }
  }

  &--no-wrap {
    flex: 0 0 auto;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

@include atMobile {
  .mobile\:flex--row {
    flex-direction: row;
  }
  .mobile\:flex--column {
    flex-direction: column;
  }
}

@include atTablet {
  .tablet\:flex--row {
    flex-direction: row;
  }
  .tablet\:flex--column {
    flex-direction: column;
  }
}

@include atDesktop {
  .desktop\:flex--row {
    flex-direction: row;
  }
  .desktop\:flex--column {
    flex-direction: column;
  }
}

@mixin flex--col {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: $col-1;
}

@mixin flex--col-auto {
  @include flex--col;
  width: auto;
}

@mixin flex--col-2 {
  @include flex--col;
  width: $col-2;
}

@mixin flex--col-3 {
  @include flex--col;
  width: $col-3;
}

@mixin flex--col-4 {
  @include flex--col;
  width: $col-4;
}

@mixin flex--col-5 {
  @include flex--col;
  width: $col-5;
}

@mixin flex--col-6 {
  @include flex--col;
  width: $col-6;
}

@mixin flex--col-7 {
  @include flex--col;
  width: $col-7;
}

@mixin flex--col-8 {
  @include flex--col;
  width: $col-8;
}

@mixin flex--col-9 {
  @include flex--col;
  width: $col-9;
}

@mixin flex--col-10 {
  @include flex--col;
  width: $col-10;
}

@mixin flex--col-11 {
  @include flex--col;
  width: $col-11;
}

@mixin flex--col-12 {
  @include flex--col;
  width: $col-12;
}
