$mobileWidth: 320px;
$mobileLgWidth: 480px;
$tabletWidth: 640px;
$tabletLgWidth: 880px;
$desktopWidth: 1024px;
$desktopLgWidth: 1400px;

$sizes: (
  "auto": "auto",
  "1px": 1px,
  "2px": 2px,
  "05": 0.25rem,
  "1": 0.5rem,
  "105": 0.75rem,
  "2": 1rem,
  "205": 1.25rem,
  "3": 1.5rem,
  "4": 2rem,
  "5": 2.5rem,
  "6": 3rem,
  "7": 3.5rem,
  "8": 4rem,
  "9": 4.5rem,
  "10": 5rem,
  "11": 5.5rem,
  "12": 6rem,
  "13": 6.5rem,
  "14": 7rem,
  "15": 7.5rem,
  "card": 10rem,
  "card-lg": 15rem,
  "mobile": $mobileWidth,
  "tablet": $tabletWidth,
  "desktop": $desktopWidth,
  "full": 100%,
);

$font-sans-3xs: 0.75rem;
$font-sans-2xs: 0.875rem;
$font-sans-xs: 1rem;
$font-sans-sm: 1.0625rem;
$font-sans-md: 1.125rem;
$font-sans-lg: 1.5rem;
$font-sans-xl: 2.125rem;
$font-sans-2xl: 2.625rem;
$font-sans-3xl: 3.125rem;

$font-display-3xs: 0.75rem;
$font-display-2xs: 0.875rem;
$font-display-xs: 1rem;
$font-display-sm: 1.0625rem;
$font-display-md: 1.125rem;
$font-display-lg: 1.5rem;
$font-display-xl: 2.125rem;
$font-display-2xl: 2.625rem;
$font-display-3xl: 3.125rem;
