$base-darker: $grey-warm-80;
$base-dark: $grey-warm-60;
$base: $grey-warm-40;
$base-light: $grey-warm-10;
$base-lighter: $grey-warm-5;

$secondary-dark: red;

$primary-darker: $orange-warm-70;
$primary-dark: $orange-warm-50;
$primary: $orange-warm-40;
$primary-light: $orange-warm-30;
$primary-lighter: $orange-warm-10;

/*
$primary-dark: blue;
$secondary-darker: $gold-darker;
$secondary-dark: $gold-dark;
$secondary: $gold;
$secondary-light: $gold-light;
$secondary-lighter: $gold-lighter;

$accent-cool-darker: $teal-darker;
$accent-cool-dark: $teal-dark;
$accent-cool: $teal;
$accent-cool-light: $teal-light;
$accent-cool-lighter: $teal-lighter;

$accent-warm-darker: $pink-darker;
$accent-warm-dark: $pink-dark;
$accent-warm: $pink;
$accent-warm-light: $pink-light;
$accent-warm-lighter: $pink-lighter;*/
