.footer {
  align-items: flex-start;
  background-color: $primary-darker;
  color: $base-lighter;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  @include atMobile {
    padding: 1rem 2rem;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 4rem;
    width: 4rem;

    @include atTablet {
      height: 6rem;
      width: 6rem;
    }

    .logo__image {
      overflow: visible;
      fill: rgba($primary-dark, 0.9);
    }

    .logo__name {
      @include srOnly;
      color: $base-light;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &__content_title {
    @include font-sans-md;
    font-weight: bold;
  }

  &__content {
    display: flex;
    gap: 1rem;

    @include atMobile {
      gap: 2rem;
    }

    @include atTablet {
      gap: 4rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__nav-list {
    @include listReset;
    @include font-sans-xs;
    color: $base-lighter;
    display: flex;
    flex-direction: column;

    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__nav-link {
    @include font-sans-xs;
    color: $base-lighter;
    display: flex;
    text-decoration: none;
  }

  &__copyright {
    @include borderSeparator(rgba($primary-light, 0.25), "top", 1rem);
    @include font-sans-2xs;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .footer__nav-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;

      @include atTablet {
        gap: 2rem;
      }

      .footer__nav-link {
        @include font-sans-2xs;
      }
    }
  }
}
